@model IEnumerable<AutoRepair.Data.Entities.AccountantModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Accountants</h1>

<a asp-action="Add">Add Accountant</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Phone Number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Info.LastName)

                    @Html.DisplayFor(modelItem => item.Info.FirstName[0])

                    @Html.DisplayFor(modelItem => item.Info.MiddleName[0])
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Info.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Info.Address)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
