@model IEnumerable<AutoRepair.Data.Entities.OrderModel>

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Master)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.Info.LastName)

                    @Html.DisplayFor(modelItem => item.Client.Info.FirstName[0])

                    @Html.DisplayFor(modelItem => item.Client.Info.MiddleName[0])
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Master.Info.LastName)

                    @Html.DisplayFor(modelItem => item.Master.Info.FirstName[0])

                    @Html.DisplayFor(modelItem => item.Master.Info.MiddleName[0])
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
